:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 5rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 15px -5px #808080;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.toast {
  &-toolbar {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 0;
  }
  &-body {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0.5rem;
  }
}
